@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    padding: 10px 14px;
    background-color: #111;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 500;
}

.btn-danger {
    padding: 10px 14px;
    background-color: #B21AC9;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.btn-secondary {
    padding: 10px 14px;
    background-color: #3D0066;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}